/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: border-box;
    
  }
.head {
    background-color: brown;
}

.top {
    text-align: left;
    display: flex;
    align-content: space-between;
    margin: .5% .5% 5% .5%;
}
h1 {
    padding: 0%;
    margin: 2%;
}

.topwords {
    padding: 5%;
    border: dotted black 2px;
    display: flex;
    flex-direction: column;
    
}
p {
    text-align: left;
    
    display: flex;
    flex-flow: nowrap;
}

.Probutton{
font-family: 'Work Sans', sans-serif;
font-weight: 400;
color: red;
background-color: aqua;
width: 40%;
height: 15%;
text-align: center;
margin: 2% 0 2% 0;
 }
 .smallbutton {
     margin: 5%;
    width: 60%;
    display: flex;
    justify-content: space-around;
 }
  body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    position: relative;
    top: 0px;
  }

  .hero {
      width: 50%;
  }
.card {

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: center;   
}
.card2 {

    display: flex;
    flex-flow: column;
    text-align: center;   
}

  .pro-img{
      width: 80%;
      margin: 10%;
      display: flex;
      justify-content: space-around;
  }
  .projects {
      margin: 5%;
      border: solid black 4px;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .projects2 {
    margin: 5%;
    border: solid black 4px;
    display: flex;
    flex-direction: row;
}

  nav ul {
    display: flex;
    flex-direction: row; 
    justify-content: start;
  }

  a {
      margin: 0 5% 2% 5%;
  }

  footer {
      padding: 10%;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
  }